<% include partials/header %>

<div class="header">
    <h1 class="title">My C# Blog</h1>
    <h3 class="subtitle">Self-Taught Journey to C# Developer</h3>
</div>

    <div class="container">
        <div class="custom-container">
            <div class="row">
                <div class="col-md-8">
                    <h3>My goals with the blog:</h3>
                    <hr />
                    <ul class="fa-ul goal-list">
                        <li><span class="fa-li"><i class="fas fa-check-circle"></i></span>Learn C#</li>
                        <li><span class="fa-li"><i class="fas fa-check-circle"></i></span>Master Syntax</li>
                        <li><span class="fa-li"><i class="fas fa-check-circle"></i></span>Become fluent in Software Development Principles</li>
                        <li><span class="fa-li"><i class="fas fa-check-circle"></i></span>Get a job as a software developer</li>                        
                    </ul>
                </div>


                <div class="col-md-4">
                    <div class="card text-center about-card" id="box">
                        <img class="card-img-top" src="images/me.jpg">
                        <div class="card-body">
                            <h3 class="card-title">Jake Reck</h3>

                            <p class="card-text">Self-Taught Developer</p>
                            
                            <div class="social-buttons">
                                <a href="https://www.facebook.com/jake.reck.5"><i class="fab fa-facebook fa-2x"></i></a>
                                <a href="https://www.instagram.com/jake_reck/"><i class="fab fa-instagram fa-2x"></i></a>
                                <a href="https://github.com/Jereck"><i class="fab fa-github fa-2x"></i></a>    
                            </div>

                            <p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<% include partials/footer %>
